body{
    //background-image: url("../images/to_do_pic1.jpeg");
}
header{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
  }
table {
    width: 100%;
    background-color: grey;
}
button{
    background-color: aquamarine;
}
  